@import '../base/_variables.scss';
$deepteal: #A84D97;
$green: #00e36b;
$sapphire: #00a8b8;
$mint: #0af0b8;
$sumo: #A84D97;
$greenHeavy: #00631c;
$middleWeightGreen: #00ab4f;
$lightWeightGreen: #5de979;
$bantamWeightGreen: #80f1b5;
$flyWeightGreen: #00e36b;
$flyWeightGrey: #e0e9ea;
$lightWeightGrey: #8caeb1;
$welterWeight: #669297;
$middleWeightTeel: #336e74;
$mediumGreen: #33eb9b;
$dodgerBlue: #36adf8;
$dimGrey: rgb(100, 100, 100);
$grey: grey;
$mediumGrey: #aeaeae;
$lightGrey: #ebebe4;
$white: #ffffff;
$red: red;
$black: black;
$lilyWhite: #ebedec;
$eucalyptus: #7eb49c;
$whisper: #eee;
$moonMist: #c8c8c2;
$smokeWhite: #f6f3f3;
$eclipse: #413d3d;
$raven: #6c757d;
$russianBlack: rgba(0, 0, 0, 1);
$shadowGrey: #666666;
$transparentSnow: #f9f9f9f2;
$lightSeaGreen: rgba(251,231,247,.4);
$gray: #ddd;
$grey30: rgba(0, 0, 0, 0.3);
$black50: rgba(0, 0, 0, 0.5);
$lightMediumGrey: #f7f5f5;
$lightBlack: rgba(0, 0, 0, 0.8);
$lightWhite: rgba(255, 255, 255, 0.9);
$shadowBlack: rgba(0, 0, 0, 0.16);
$backDropColor: rgba(48, 49, 48, 0.42);
$deactivate: rgba(102, 146, 151, 1);
$eclipseTint: rgba(65, 61, 61, 0.2);
$fordWhite: #f0f0f0;
$citron: #A84D97;
$blue: blue;
$redLight: #f0cece;
