@import '../base/_variables.scss';

$ziDrawerMenu: 3;
$ziPdfViewerContainer: 3;
$ziPrompt: 6;
$ziSidePanel: 5;
$ziUserMenuDropdown: 6;
$zIndexFloatingBtn: 9;
$ziModal: 10;
$ziUniversalSearchPopup: 10;
$ziTooltip: 11;
$ziUserInactivityPrompt: 120;

$ziDrawerContextMenuWrapper: 99;
$ziRightClickMenu: 99;
$ziLoader: 110;
$ziViewAllCreatives: 3;