//Image configure
@mixin imageConfiguration($url, $position, $repeat, $size: unset) {
  background-image: url($url);
  background-position: $position;
  background-repeat: $repeat;
  background-size: $size;
}

@mixin alignElement($display, $alignItems, $justifyContent) {
  display: $display;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin crossIconButton($bottom) {
  position: absolute;
  right: 7px;
  bottom: 50%;
  transform: translateY(50%);
  padding: 0px;
  background-color: $white;
  color: $deepteal;
  &-icon {
    font-size: 10px;
  }
}

@mixin checkboxBig {
  font-size: 18px;
  color: $deepteal;
}

@mixin gridBodyHeight($height) {
  .grid-body {
    height: $height;
  }
}
