@import '../../assets/scss/constants/colors.scss';
@import '../../assets/scss/base/mixins.scss';

.product {
  border: 1px solid $flyWeightGrey;
  border-radius: 3px;
  height: calc(100vh - 60px);
  overflow-x: hidden;

  &-secondary {
    color: $lightBlack;
    box-shadow: 0.5px 0.5px 3px grey;
  }

  &-secondary-header {
    background-color: $deepteal;
    color: $white;
    height: 30px;
    @include alignElement(flex, center, null);

    .title {
      font-family: sans-serif;
      font-size: 12px;
      font-weight: 600;
      text-align: left;
      padding: 12px;
    }
  }

  &-header {
    display: flex;
    padding: 3px;
    border-bottom: 1px solid $flyWeightGrey;

    .title {
      color: $deepteal;
      font-size: 12px;
      font-weight: 600;
      padding-left: 6px;
    }
  }

  &-body {
    padding: 10px;
  }

  &-footer {
    @include alignElement(flex, null, center);
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);

    .button-wrapper {
      padding: 10px;
      width: 40%;
      @include alignElement(flex, center, space-around);
      flex-direction: column;

      .btn-save {
        background-color: $deepteal;
        border: none;
        color: $white;
        width: 120px;
        font-size: 12px;
        font-weight: 600px;
        padding: 8px 4px;
        margin: 0px 10px;
      }
    }
  }
}

.article {
  float: left;
  width: 50%;
}

.checkboxalignmentbr {
  /// margin-left: 551px;
  margin-top: -14px;
}

.checkboxalignmentpr {
  margin-left: 450px;
  margin-top: -14px;
}

.heyperlink {
  float: right;
  font-style: italic;
}

.removeunderline {
  text-decoration: none;
  font-style: italic;
}

#left,
#right {
  padding: 0.5rem;
  flex-grow: 1;
  color: #fff;
}

.checkboxalignment {
  display: flex;
  justify-content: space-evenly;
}

.checkboxdesign {
  margin-left: 53px;
  margin-top: -18px;
}

.contentstyle {
  padding: 0.5rem;
  display: table-caption !important;
}

.commentstyle {
  margin-top: -17px;
}

div.container {
  display: flex;
  flex-wrap: wrap;
}

.content {
  padding: 0.5rem;
  display: flex;
  column-gap: 2rem; 
}

.pleft
{
  width:100%;
}

.left,
.right {
  padding: 0.5rem;
  flex-grow: 1;
  color: #fff;
  width: 50%;
}

div.child {
  flex: 40%;
  padding-right: 5px;
}

.lgbrandallignment {
  float: right;
}

div.childprd {
  flex: 67%;
  padding-right: 5px;
}

.hide {
  display: none;
}

.userAndDateFields {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 1rem;

    > .form-group {
        width: 48%;
    }
}

.productdisplaycolor
{
  color: #0056b3;
  font-weight: bold;
}
.product-footernew
{
  text-align: center;
}
.submitbuttondesign
{
  margin-right: 19px;
}
.custom-search-query-statusupadte-valid {
  left: 4px;
 // position: absolute;
  top: 10px;
  color: green!important;
  font-size: 26px;
}
.custom-search-query-statusupadte-invalid {
  left: 4px;
 // position: absolute;
  top: 10px;
  color: red!important;
  font-size: 26px;
}
.tickdesign
{
  float: right;
  margin-left: 88%;
  margin-top: -4%;
}

.span
{
    display: none;
}
.errorspan
{
    display: inline-block;
    font-size: 12px;
    text-align: left;
    width: 100%;
    font-style: italic;
    color: red;
    font-weight:bold;
}
.heyperlinknew
{
  pointer-events: none;
  cursor: default;
  opacity: 0.7;
  color: grey!important;
}
.heyperlink {
  float: right;
  font-style: italic;
  color: blue;
}
.heyperlinkgeneral {
  float: left;
  font-style: italic;
  color: blue;
}
.productypeDesignchanges
{
  margin-top: 4px;
}
.modal-footerupdate {
  display: flex;
  justify-content: center;
  background: #e2e0e0;
  height: 45px;
}
.empty-optionproduct {
  height: 32px;
  outline: none;
  width: 408px;
  display: block;
  border-radius: 0;
  background: #ffffff;
  text-align: center;
  position: absolute;
  z-index: 2;
  margin-top: -15px;
}

.no-option {
  padding: 8px;
  height: 30px !important;
  background-color: $lilyWhite;
}
.column1
{
  width: 20%; float:left;
}
.column2
{
  width: 80%; float:right;
}
.checkboxdesignproduct {
  margin-top: 44px;
}
.checkboxdesignproducttype
{
  margin-left: 184px;
  margin-top: -17px;
}
.checkproducttypechexbox
{
  margin-left: 27px;
  margin-top: -11px;
}
.producttypeshow
{
  display: block;
}
.producttypehide
{
  display: none;
}