@import '../../assets/scss/constants/colors.scss';

.slider-container {
  padding: 10px;
  height: auto;

  .img-slide-hide {
    display: none;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s linear;
  }

  .img-current {
    width: 100%;
    display: inherit;
    animation: fadeIn 5s;
    visibility: visible;
    transition: visibility 0s, opacity 0.5s linear;

    .img-item {
      height: 50px;
      width: 100px;
      padding: 5px;
      justify-content: center;
      display: flex;
      position: relative;

      img {
        width: 100%;
        max-width: 400px;
        height: auto;
      }

      button {
        background: none;
        border: none;
        color: white;
        position: absolute;
        right: 0;
        margin-top: 8px;
        margin-right: 10px;
      }

      .checked-icon {
        color: #af0;
      }
      .unchecked-icon {
        color: rgb(186, 186, 186);
      }
    }
    .img-item:hover img {
      transform: scale(1.5);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      display: flex;
      height: 100px;
      width: 100px;
      z-index: 1000;
    }
    .img-item:hover button {
      margin-right: 5px;
      margin-top: 5px;
      right: 0;
      position: absolute;
      z-index: 1000;
    }

  }


  .media-container {
    height: auto;
    width: auto;

  }

  div#img_slides_wrapper {
    width: inherit;
    display: flex;
    border: 2px solid #efefef;
    justify-content: space-between;
    position: relative;
  }


  div.img_slide_arrow {
    color: #ccc;
    height: inherit;
    position: absolute;
    z-index: 2;
    top: 22px;
    margin-left: -10px;
    margin-right: -10px;
  }


  div.img_slide_arrow#img_slide_right {
    right: 0;
  }

  div.img_slide_arrow#img_slide_left span {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
  }

  div.img_slide_arrow#img_slide_right span {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    right: 0;
    cursor: pointer;
  }

  div#img_thumbnails {
    display: flex;
  }


  div#img_thumbnails img.imgThumbnail.active {
    border: 2px solid #0ff;
  }

  .zoom-container-image img {
    height: inherit;
    width: inherit;
  }

}