@import '../../assets/scss/constants/colors';
@import '../../assets/scss/base/mixins';

body {
  margin: 0;
  padding: 0
}

.search {
  position: relative;

  .search-icon-cross {
    cursor: pointer;
  }

  &-input {
    .search-icon-button,
    .search-icon-button-cross {
      @include crossIconButton(7px);
      font-size: 10px;
    }
  }

  &-body {
    margin-top: 2px;
    width: 100%;
    font-size: 12px;
    background-color: $white;
    z-index: 2;
    position: absolute;
    box-shadow: 0px 3px 8px $shadowGrey;

    .no-option {
      padding: 8px;
      height: 15px;
      background-color: $lilyWhite;
    }

    .options {
      max-height: 150px;
      overflow-x: auto;
      overflow-y: auto;

      .option {
        padding: 8px;
        height: auto;
        outline: none;
        width: 100%;
        display: block;
        border-radius: 0;
        background: $white;
        text-align: left;

        &:hover,
        &:focus {
          background: $lilyWhite;
          cursor: pointer;
        }
      }
    }
  }

  .create-button {
    text-align: right;
    margin: 3px 15px;
    .btn {
      font-size: 12px;
      font-family: sans-serif;
      padding: 5px;
      &-primary {
        background-color: $white;
        font-weight: 600;
      }
    }
  }
}

.query-label {
  padding: 20px;
  background-color: lightgrey;
  display: flex;
  margin-top: 10px;
  border-radius: 5px;
}

.valid-text {
  color: #158047;
}

.invalid-text {
  color: #9f2121;
}

.search-title {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 8px;
  justify-content: center;
  display: flex;
}

.angular-header {
  color: #fdfdfd;
  background-color: #0f0a0a;
  display: flex;
  margin: 0;
  padding: 0px 16px;
  height: 48px;
  align-items: center;
  font-size: 16px;
}

.custom-wrapper {
  padding: 0;
}

.empty-option {
  padding: 8px;
  height: auto;
  outline: none;
  width: 100%;
  display: block;
  border-radius: 0;
  background: #ffffff;
  text-align: center;
}